body{
  background-color: rgb(0,3,31);
  color: white;
  font-family: 'Montserrat', sans-serif;
  justify-content: center;
  text-align: center;
}

h3{
  font-family: 'Montserrat', sans-serif;
  justify-content: center;
  text-align: center;
  font-size: 25px;
}

footer{
  position: fixed;
  color: rgb(30,30,30);
  left: 0;
  bottom:0;
  width: 100%;
  text-align: center;
}

.line2{
  stroke:black;
  stroke-width:4;
  fill:red;
}

.logo{
  height: 45px;
  width: auto;
  padding: 0px;
}

/* Set the size of the div element that contains the map */
#map {
  height: 800px;
  /* The height is 400 pixels */
  width: 100%;
  /* The width is the width of the web page */
}
